.header
  .header__main
    include ./logo.jade
    h1.title Aboardly
    h1 Email automation made simple
    h2 Send emails to your customers triggered by their interactions (or lack thereof) with your business
    include ./signup.jade

.steps

  h2 Emails get sent based on the rules you specify
  .steps__step__text
    | Create different recipes such as  
    b Welcoming, 
    b Offboarding 
    | or 
    b Discount codes
  .steps__step
    .flasher.popout
      .flasher__row.flasher__row__condition
        |When user
        select.var
          option signed in
          option signed up
          option used feature
        select.var
          option 0 times
          option 1 time
          option 2 times
          option 3 times
        |in
        select.var
          option 30 days
          option forever
          option 1 hour
          option 24 hours
      .flasher__row.flasher__row__action
        |then send email
        select.var
          option Why did you leave?
          option Need help?
          option Coupon code!
          option Welcome!
          |.

  h2 Design and personalize email templates
  .steps__step(style="overflow:hidden;")
    .steps__step__text Customize emails using our powerful yet simple template language.
    .flasher.popout(style="text-align:left;")
      |Hey
      .var first_name
      |!
      br
      |Welcome to Product.
      br
      |If you have any questions..


  h2 Register customers and send events using our API
  .steps__step
    .steps__step__text Use our super simple API to intagrate your business with Aboardly.
      | Do everything else from our website without any specific knowledge of technology.
    pre.popout
      code
        |{
        |   'email': 'john@ab.ly',
        |   'first_name': 'John',
        |   'last_name': 'Smith'
        |}

  include ./logo.jade
  br
  span Get in touch 
  a(href="https://twitter.com/_sergeh" style="display: inline-block;")@_sergeh
        
