.header
  .header__main
    h1 Onboarding made simple
    h2 Send your users emails based on their interactions with your business
  include ./signup.jade

.steps

  h2 Register customers and send events using our API
  .steps__step
    pre.popout
      code
        |{
        |   'email': 'john@google.com',
        |   'first_name': 'John',
        |   'last_name': 'Smith'
        |}

  h2 Design and personilze email templates
  .steps__step(style="overflow:hidden;")
    .steps__step__item Trololololo
    pre.popout.steps__step__item
      code
        |Hey {{first_name}}!
        |Welcome to Product. If you have any questions..

  h2 Emails get sent based on the rules you specify
  .steps__step
    .flasher.popout
      .flasher__row.flasher__row__condition
        |When user
        select.var
          option signed in
          option signed up
          option used feature
        select.var
          option 0 times
          option 1 time
          option 2 times
          option 3 times
        |in
        select.var
          option 30 days
          option forever
          option 1 hour
          option 24 hours
      .flasher__row.flasher__row__action
        |then send email 
        select.var
          option Why did you leave?
          option Need help?
          option Coupon code!
          option Welcome!
          |.

include ./signup.jade
