.header
  .header__main
    h1 Turn your shipwreck into a love boat.
    h2 Send your users emails based on their interactions with your business.
  .header__signup
    form
      input.header__signup__email(type="email" placeholder="Your e-mail")
      input.header__signup__button.button(type="submit" value="Let me know when Aboardly launches")
        
.flasher
  .flasher__item When user <strong>hasn't signed in</strong> in <strong>14 days</strong> send email <strong>Why did you leave?</strong>
  .flasher__item When user <strong>signed up</strong> send email <strong> Welcome!</strong>
  .flasher__item When user <strong>left items to shopping cart</strong> in <strong>12 hours</strong> send email <strong> Coupon code!</strong>
  .flasher__item When user <strong>hasn't tried feature</strong> in <strong>3 days</strong> send email <strong> Need help?</strong>

.howto
  .howto__item.howto__item--api
    .howto__item__title Send events using our API
    .howto__item__content 
  .howto__item.howto__item--recipes
    .howto__item__title Add recipes using the website
