@import "style/buttons.scss";
@import "style/variables";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  text-align: center;
  margin: 0;
  font-weight: 400;
  line-height: 1.667;
}
body, select {
  font-family: "Open Sans",Tahoma,Verdana,Segoe,sans-serif;
  color: #444;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  font-weight: 300;
  padding: 20px 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  vertical-align: baseline;
}

h3 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: #3b3b3b;
}

.header {
  color: white;
  color: #f7f7f7;
}

.header__main {
  background: $color-background;
  padding: 3em 1em;
}

.header__signup {
  background: lighten($color-background, 10%);
  padding: 3em 1em;
}

.header__signup__email {
  height: 50px;
  border-radius: 2px;
  border: none;
  padding: 0 15px;
  margin-right: 10px;
  font-size: 1.05em;
}

.flasher {
  margin: 2em 0;
  font-size: 20px;
  font-weight: bold;
  background: #f4f4f7;
  margin: 0 3em;
  border-radius: 5px;
  .var {
    -webkit-appearance: none;
    border: none;
    box-shadow: 0px 2px 0px 0px darken(white, 25%);
    background: white;
    border-radius: 3px;
    font-size: 20px;
    margin: 0 5px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: normal;
    &:focus {
      outline: none;
    }
  }
}
.flasher__row {
  padding: 12px 0;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    // background: white;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 5px;
    padding: 0px 5px;
  }
}
.flasher__row__condition {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  &:before {
    content: 'Condition';
  }
}
.flasher__row__action {
  &:before {
    content: 'Action';
  }
}

@keyframes flyIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
